<h3>Edit Vehicle</h3>

<div class="row-cols-md-5" align="right">
    <img src="/lib/img/{{data.vehicle.fileName}}" class="img-thumbnail"/>
    <div><strong>Id:</strong> {{ data.vehicle.vehicleId}}</div>
    <div><strong>Name:</strong> {{data.vehicle.ownerName}}</div>

        <div class="modification-info col-md-4 well well-sm" *ngFor="let m of data.vehicle.modifications">
            <div class="modification-name">{{ m.modificationName}}</div>
            <div><strong>Horsepower Gains:</strong> {{m.horsepower}}</div>
            <div><strong>Torque Gains:</strong> {{m.torque}}</div>
            <button id="addButton" class="btn btn-success btn-sm pull-right">Add</button>
            <button id="removeButton" class="btn btn-danger btn-sm pull-left">Remove</button>
        </div>
</div>